<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webviewjs">

    <uses-permission android:name="android.permission.INTERNET"/>     //联网
    <uses-permission android:name="android.permission.CALL_PHONE"/>        //打电话
    <uses-permission android:name="android.permission.READ_CONTACTS"/>    //读取联系人

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".android_js.WebView_js1" />
        <activity android:name=".android_js.WebView_js2" />
        <activity android:name=".android_js.WebView_js3" />
        <activity android:name=".js_android.method1.Js_webview_android_1"></activity>
        <activity android:name=".js_android.method2.Js_webview_android_2"></activity>
        <activity android:name=".js_android.method3.Js_webview_android_3"></activity>
    </application>

</manifest>